# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio Code
.vscode/

# Rider
.idea/

# NuGet
*.nupkg
packages/
*.snupkg
*.nuspec

# Resharper
_ReSharper*/
*.DotSettings.user

# Others
*.log
*.DS_Store
*.class
*.pyc
*.pdb
*.cache